@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,900;6..12,1000&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0%;
  margin: 0%;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 200px;
  box-shadow: 0px 0px 5px black;
}

header > .logo {
  width: 150px;
  height: 100%;
  overflow: hidden;
}

header > .logo > img {
  width: 100%;
  height: 100%;
}

header > nav > a,
header > nav > i {
  margin-right: 20px;
  color: black;
  font-weight: 600;
}

nav a:hover,
nav > i:hover {
  color: orange;
  transition: 0.77s;
}

/* Hero Section  */

.Hero {
  width: 100%;
  height: 800px;
  background-color: palegoldenrod;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 200px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide > .content {
  width: 400px;
  height: 400px;
  text-align: left;
}

.swiper-slide > .content > h2 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 10px;
  margin-top: 30px;
}

.swiper-slide > .content > p {
  margin-top: 10px;
  font-size: 18px;
}
.swiper-slide > .content > .link {
  margin-top: 20px;
}

.swiper-slide > .content > .link > a {
  padding: 10px 30px;
  color: white;
  background-color: orange;
}

.swiper-slide > .img {
  width: 400px;
  height: 400px;
  box-shadow: 0px 0px 10px black;
}

.swiper-pagination {
  background-color: orange;
}

/* Category section  */

.Category {
  width: 100%;
  height: 600px;
  padding: 20px 200px;
}

.Category > h2 {
  font-size: 40px;
  font-weight: 700;
}

.Category > .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 100px;
}

.Category > .container > .col {
  width: 300px;
  height: 250px;
  padding: 30px;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0px 0px 1px black;
}

.Category > .container > .col > i {
  font-size: 40px;
  margin-bottom: 20px;
  color: white;
}

.Category > .container > .col > h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

.Category > .container > .col > .link > a {
  font-size: 17px;
  font-weight: 700;
  color: rgb(255, 145, 0);
}

.Category > .container > .col > .link > a:hover {
  color: white;
  transition: 0.77s;
}

/* .................. */

.Category > .container > .col:nth-child(1) {
  background-color: rgb(248, 229, 212);
}

.Category > .container > .col:nth-child(2) {
  background-color: rgb(255, 211, 218);
}

.Category > .container > .col:nth-child(3) {
  background-color: rgb(218, 218, 255);
}

.Category > .container > .col:nth-child(4) {
  background-color: rgb(255, 216, 216);
}

/* hover effects  */

.Category > .container > .col:nth-child(1):hover {
  background-color: rgb(245, 215, 188);
  box-shadow: 0px 0px 10px rgb(248, 229, 212);
  transition: 0.77s;
}

.Category > .container > .col:nth-child(2):hover {
  background-color: rgb(250, 159, 174);
  box-shadow: 0px 0px 10px rgb(250, 159, 174);
  transition: 0.77s;
}

.Category > .container > .col:nth-child(3):hover {
  background-color: rgb(192, 192, 248);
  box-shadow: 0px 0px 10px rgb(192, 192, 248);
  transition: 0.77s;
}

.Category > .container > .col:nth-child(4):hover {
  background-color: rgb(255, 165, 165);
  box-shadow: 0px 0px 10px rgb(255, 165, 165);
  transition: 0.77s;
}

/* Trending books  */

.trend {
  width: 100%;
  height: 1200px;
  display: block;
  padding: 200px;
}
.trend > h2 {
  font-size: 40px;
  font-weight: 700;
}

.trend > .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  flex-wrap: wrap;
}

.trend > .container > .col {
  width: 300px;
  height: 400px;
  padding: 20px 30px;
  margin-top: 30px;
  box-shadow: 0px 0px 2px black;
  border-radius: 5px;
}

.trend > .container > .col > .img {
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.trend > .container > .col > .img > img {
  width: 100%;
  height: 100%;
}

.trend > .container > .col > .content {
  margin-top: 30px;
}

.trend > .container > .col > .content > h3 {
  font-size: 25px;
}

.trend > .container > .col > .content > p {
  margin-top: 5px;
}

.trend > .container > .col > .link {
  margin-top: 10px;
}

.trend > .container > .col > .link > a {
  color: orange;
  font-size: 19px;
  font-weight: 800;
}

.trend > .container > .col > .link > a:nth-child(2) {
  margin-left: 10px;
  font-size: 22px;
}

.trend > .container > .col > .link > a:hover {
  color: orangered;
  transition: 0.77s;
}

/* Deal  */
.deal {
  width: 100%;
  height: 700px;
  padding: 40px 200px;
  margin-top: 100px;
}

.deal > .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.deal > .container > .col {
  width: 700px;
  height: 400px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 2px black;
  border-radius: 5px;
}

.deal > .container > .col > img {
  width: 100%;
  height: 100%;
}

.deal > .container > .col > .content {
  position: absolute;
  top: 30%;
  left: 10%;
}

.deal > .container > .col > .content > h3 {
  color: white;
  font-size: 35px;
  font-weight: 900;
}

.deal > .container > .col > .content > p {
  color: white;
  font-size: 19px;
}

.deal > .container > .col > .content > .link {
  margin-top: 20px;
}

.deal > .container > .col > .content > .link > a {
  color: white;
  background-color: orange;
  font-size: 25px;
  padding: 10px 30px;
  border-radius: 10px;
}

/* 2nd col editing  */
.deal > .container > .col:nth-child(2) > .content > h3 {
  color: orange;
}

.deal > .container > .col:nth-child(2) > .content > p {
  color: orange;
}

/* latest book  */
.latest {
  width: 100%;
  height: 1200px;
  padding: 40px 200px;
}

.latest > h2 {
  font-size: 40px;
  font-weight: 700;
}

.latest > .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  flex-wrap: wrap;
}

.latest > .container > .col {
  width: 300px;
  height: 400px;
  padding: 20px 30px;
  margin-top: 30px;
  box-shadow: 0px 0px 2px black;
  border-radius: 5px;
}

.latest > .container > .col > .img {
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.latest > .container > .col > .img > img {
  width: 100%;
  height: 100%;
}

.latest > .container > .col > .content {
  margin-top: 30px;
}

.latest > .container > .col > .content > h3 {
  font-size: 25px;
}

.latest > .container > .col > .content > p {
  margin-top: 5px;
}

.latest > .container > .col > .link {
  margin-top: 10px;
}

.latest > .container > .col > .link > a {
  color: orange;
  font-size: 19px;
  font-weight: 800;
}

.latest > .container > .col > .link > a:nth-child(2) {
  margin-left: 10px;
  font-size: 22px;
}

.latest > .container > .col > .link > a:hover {
  color: orangered;
  transition: 0.77s;
}
/* banner section  */

.banner{
    width: 100%;
    height: 400px;
    margin-top: 100px; margin-bottom: 100px;
   padding: 0px 200px;
}

.banner > .container{
    width: 100%;
    height: 100%;
    position: relative;
   border: 2px solid orange;
   overflow: hidden;
}

.banner > .container > img{
    width: 100%;
    height: 140%;
margin-top: -180px;
}

.banner > .container > .content{
    position: absolute;
    top: 30%;
    left: 10%;
}

.banner > .container > .content > h3{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
}

.banner > .container > .content > p{
    margin-bottom: 10px;
}

.banner > .container > .content > form > input{
    width: 500px;
    height: 40px;
    border-radius: 10px;
    padding: 0px 15px;
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.banner > .container > .content > form > button{
    width: 100px;
    height: 40px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}